<ion-header>
  <ion-toolbar>
    <ion-button color="dark" (click)="sulje()" slot="end">Sulje</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button class="pikahaku" fill="outline" shape="round">Ravintola</ion-button>
    <ion-button class="pikahaku" fill="outline" shape="round">Kahvila</ion-button>
    <ion-button class="pikahaku" fill="outline" shape="round">Kampaamo</ion-button>
    <ion-button class="pikahaku" fill="outline" shape="round">Autokorjaamo</ion-button>
</ion-content>
