<ion-header>
  <ion-toolbar>
    <ion-title>
      Listaus hakutuloksista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="virhe" *ngIf="!sovellus.hakutulos" padding>
        <ion-text>
          <h2>Hups!</h2>
          <p>Onko sivu tyhjä?</p>
          <p>Hae yritystä tai yrityksiä <b>alku</b>-sivulta ja kokeile uudelleen!</p>
        </ion-text>
      </div>


  <div *ngFor="let tulo of sovellus.hakutulos; let i = index; let c = count">

  
  <ion-card *ngIf="tulo.OnkoKuva == 1 && tulo.Lohkokoko != 'pieni'" class="lohko {{tulo.Lohkokoko}}" (click)="avaa(tulo)">
    
      <ion-card-header>
          <img src="{{tulo.Kuva}}" style="width: 100%; height: 100px;">
        <ion-card-title>       
            <small>({{i+1}}/{{c}})</small> {{ tulo.Yrityksen_nimi }}      
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ tulo.Tuotteet }}
      </ion-card-content>
    </ion-card>

  <ion-card *ngIf="tulo.OnkoKuva==0 || tulo.Lohkokoko == 'pieni'" class="lohko {{tulo.Lohkokoko}}" (click)="avaa(tulo)">
     
        <ion-card-header>
          <ion-card-title>       
              <small>({{i+1}}/{{c}})</small> {{ tulo.Yrityksen_nimi }}      
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ tulo.Tuotteet }}
        </ion-card-content>
      </ion-card>

</div>
</ion-content>