<ion-header>
  <ion-toolbar>
    <ion-title>
      Keltaiset sivut
    </ion-title>
    <ion-button slot="start" (click)="pikahaku()">
      Pikahaku
    </ion-button>
    <ion-buttons slot="end" (click)="info()">
      <ion-button slot="icon-only">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label position="floating">Hakusana</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toimiala</ion-label>
      <ion-select placeholder="Valitse yksi" cancelText="Peruuta" okText="Valitse">
        <ion-select-option>Autokorjaamo</ion-select-option>
        <ion-select-option>Kahvila ja konditoria</ion-select-option>
        <ion-select-option>Kuvasliike</ion-select-option>
        <ion-select-option>LVI-asennus</ion-select-option>
        <ion-select-option>Matkatoimisto</ion-select-option>
        <ion-select-option>Nuorisopalvelut</ion-select-option>
        <ion-select-option>Pankki konttori</ion-select-option>
        <ion-select-option>Parturi/kampaamo</ion-select-option>
        <ion-select-option>Ravintola ja ruokailu</ion-select-option>
        <ion-select-option>Sesonki- ja pop-up myymälät</ion-select-option>
        <ion-select-option>Terveys, hyvinvointi ja Life-style</ion-select-option>
        <ion-select-option>Vaatetus</ion-select-option>
        <ion-select-option>Vakuutusyhtiö</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Kaupunki</ion-label>
      <ion-select placeholder="Valitse kaupunki" cancelText="Peruuta" okText="Valitse">
        <ion-select-option *ngFor="let kunta of paikkakunta">
          {{kunta.nimi_fi}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" margin-top>
      Hae
    </ion-button>

    <ion-button expand="block" margin-top>
      Hae läheltä
    </ion-button>
</ion-content>
