
<ion-content padding>
  <div class="virhe" *ngIf="sovellus.tyhja2 == true">
    <ion-text>
      <h2>Hups!</h2>
      <p>Onko sivu tyhjä?</p>
      <p>Valitse <b>lista</b>-sivulta yritys ja kokeile uudelleen!</p>
    </ion-text>
  </div>

  <ion-card *ngIf="sovellus.tyhja2 == false" class="tiedot">
    <ion-card-header>
      <ion-card-title>
        {{ sovellus.valittuKohde.Yrityksen_nimi }}
      </ion-card-title>

    </ion-card-header>
    <ion-card-content margin-top>

      
      
      <ion-text>
        <h2 class="ion-text-center" padding-bottom>{{ sovellus.valittuKohde.Tuotteet }}</h2>
        <p padding-bottom><ion-icon name="pin"></ion-icon> {{ sovellus.valittuKohde.Kayntiosoite }}</p>
        <p padding-bottom><ion-icon name="call"></ion-icon> {{ sovellus.valittuKohde.Puhelin }}</p>
        <ion-icon name="globe" float-left></ion-icon><a><p (click)="avaaLinkki('http://' + sovellus.valittuKohde.Linkki)">http://yrityshakemisto.mikseimikkeli.fi</p></a>
      </ion-text>

      <!--ion-img src="http://www.aurajoki.fi/images/ylabannerit/yritys.jpg"></ion-img-->

      <!-- <ion-img *ngIf="sovellus.valittuKohde.Kuva" src="{{ sovellus.valittuKohde.Kuva }}" style="height: 140px;"  (click)="presentPopover($event, sovellus.valittuKohde.Id, sovellus.valittuKohde.Yrityksen_nimi, sovellus.valittuKohde.Lohkoko)"></ion-img> -->
      
    </ion-card-content>
    
    
    <ion-card-content class="pop">
      
      <ion-buttons slot="end">
        <ion-button size="large" (click)="presentPopover($event, sovellus.valittuKohde.Id, sovellus.valittuKohde.Yrityksen_nimi, sovellus.valittuKohde.Lohkoko)"><ion-icon style="height: 35px; width: 45px; margin-left:10px" slot="icon-only" name="camera"></ion-icon></ion-button>  
        <!-- <ion-button (click)="poistoDialogi(tieto.id)"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-button> -->
      </ion-buttons>
      
    </ion-card-content>
    
    


  </ion-card>


  <ion-card *ngIf="sovellus.valittuKohde.Kuva" class="tiedot">
      <ion-img src="{{ sovellus.valittuKohde.Kuva }}" (click)="presentPopover($event, sovellus.valittuKohde.Id, sovellus.valittuKohde.Yrityksen_nimi, sovellus.valittuKohde.Lohkoko)"></ion-img>
  </ion-card>

</ion-content>