<ion-content padding>
  <div *ngIf="sovellus.tyhja2 == true">
    <ion-text>
      <h2>Hups!</h2>
      <p>Onko sivu tyhjä?</p>
      <p>Valitse <b>lista</b>-sivulta yritys ja kokeile uudelleen!</p>
    </ion-text>
  </div>

<div *ngIf="sovellus.tyhja2 == false">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Yrityksen tiedot:<br>
        {{ sovellus.valittuKohde.Yrityksen_nimi }}
      </ion-card-title>

    </ion-card-header>
    <ion-card-content>
        
      <h2>{{ sovellus.valittuKohde.Kayntiosoite }}</h2><br>
      <h2>{{ sovellus.valittuKohde.Toimipaikka }}</h2><br>
      <h2>{{ sovellus.valittuKohde.Puhelin }}</h2><br>
      <h2>{{ sovellus.valittuKohde.Tuotteet }}</h2><br>
      

     <a><p (click)="avaaLinkki('http://' + sovellus.valittuKohde.Linkki)">http://yrityshakemisto.mikseimikkeli.fi</p></a>
      
    </ion-card-content>
  </ion-card>
</div>

</ion-content>