// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  //Taustaväri
  --ion-background-color: #fbdb97;

  //Toolbar
  --ion-toolbar-background:#ffd900;
  --ion-toolbar-color:#000;
  --ion-toolbar-border-color:#000;

  ion-toolbar ion-title{
    font-size: 150%;
  }

  //Info ruutu
  .ruutu{
    --background:#ffd900;
    
    button{
      color:black
    }
  }

  //Select
  ion-select-option{
    background-color: #000;
  }

  //Pikahaku napit
  .pikahaku{
    --background:#ffd900;
    --color:#000;
    --border-color:#000;
    --color-activated:#FF0;
  }

  //Yleiset lohko asetukset
  /*.lohko{
    //background-image:url('http://www.aurajoki.fi/images/ylabannerit/yritys.jpg');
    //background-image:url(../app/tab2/yritys_oletuskuva_pieni.jpg);
    background-size:100%;
    background-position: bottom;
  }*/

  .pieni{
    background-color:#000;
    height:30%;
  }

  .keski{
    background-image:url('http://www.aurajoki.fi/images/ylabannerit/yritys.jpg');
    background-size:100%;
    background-position: bottom;
    height:40%;
  }

  .keski ion-card-content{
    background-color:rgba(0, 0, 0, 0.5);
    height:100%;
  }

  .lohko ion-card-content{
    color: #FFF;
    font-weight: bold;
    padding-top:5px;
  }

  .lohko ion-card-header{
    border:solid 2px;
    border-color:#000;
    background-color:#ffd900;
  }

  //Tabsit 
  --ion-tab-bar-background: #000;
  --ion-tab-bar-color:#fff;
  --ion-tab-bar-color-activated:#ffd900;

  //Yritystieto
  .tiedot{
    border:solid 2px;
    border-color:#000;
    background-color:#000;
    height:95%;
  }

  .tiedot ion-card-header{
    background-color:#ffd900;
    border-bottom:solid 2px;
    border-color:#000;
  }

  .tiedot ion-card-content{
    color:#FFF;
  }

  .tiedot ion-icon{
    padding-right:10px;
  }

  .kuva{
    background-image:url("http://www.aurajoki.fi/images/ylabannerit/yritys.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    background-position-y:18.3%;
    height:100%;
  }

  .virhe h2{
    background-color:#ffd900;
    border:solid 2.3px;
    border-color:#000;
    padding:5px;
  }

  
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
